# Apuntes Python

### https://github.com/jpcrespo/ApuntesPy



# Introducción a Python

## 1. Tipos de Variables

### 1.1 Tipos numéricos

Números de reales y enteros

In [1]:
a = 7.584 # número real

print(a)
print(type(a))

b = 8 # número entero

print(b)
print(type(b))

c = 10 + 5j

print(c)
print(type(c))

7.584
<class 'float'>
8
<class 'int'>
(10+5j)
<class 'complex'>

Cast

In [2]:
d = float(b) # cast a float

print(d)
print(type(d))

e = int(a) # cast a int

print(e)
print(type(e))

f = complex(a)

print(f)
print(type(f))

print(f.real)
print(f.imag)

8.0
<class 'float'>
7
<class 'int'>
(7.584+0j)
<class 'complex'>
7.584
0.0

Python realiza un cast dinámico al realizar una operación. Por ejemplo, al sumar un float y un int, el int es promovido a float antes de sumar

In [3]:
d = a + b

print(d, type(d))

d = a - c

print(d, type(d))

15.584 <class 'float'>
(-2.4160000000000004-5j) <class 'complex'>

In [4]:
f = a*b

print(a, type(a))
print(b, type(b))
print(f, type(f))

7.584 <class 'float'>
8 <class 'int'>
60.672 <class 'float'>

En la división de dos enteros (usando /), se obtiene un float. Nota: esto no ocurria en Python 2.x, donde la división de dos enteros usando /, daba un entero. 

Para recuperar la división de enteros, uso //.

In [5]:
a = 3
b = 2

c = a/b # <---- en python 2.x, la división de enteros con / da un entero

print(c, type(c))

c2 = a//b

print(c2, type(c2))

1.5 <class 'float'>
1 <class 'int'>

Potencias:

In [6]:
h = 3**2

print(h, type(h))

h1 = 3.0**2

print(h1, type(h1))

h2 = 3**2.0

print(h2, type(h2))

h3 = 3.0**2.0

print(h3, type(h3))

9 <class 'int'>
9.0 <class 'float'>
9.0 <class 'float'>
9.0 <class 'float'>

Modulo:

In [7]:
a = 11
b = 3

c = a%b

print(c, type(c))

a = 11.42
b = 3.21

c = a%b

print(c, type(c))

2 <class 'int'>
1.79 <class 'float'>

Otras operaciones con números:

In [17]:
from math import *

c = sqrt(9)

print(c)

d = floor(27.25)

print(d)

f = log(1000)

print(f)

f = degrees(cos(degrees(2*pi)))

print(f,degrees(2*pi))

3.0
27
6.907755278982137
-16.254302227637734 360.0

Constantes:

In [18]:
print(pi)
print(e)

3.141592653589793
2.718281828459045

In [19]:
math.sqrt(-1) # <--- no

NameError: name 'math' is not defined

Existe un modulo aparte para operaciones con complejos

In [20]:
import cmath

cmath.sqrt(-1)

1j

In [21]:
z = 3.0 + 3.0j

print(z.real)

print(z.conjugate())

3.0
(3-3j)

In [22]:
import math

print(cmath.phase(z)) 

print(math.degrees(cmath.phase(z)))

print(abs(z))

print(cmath.polar(z))

0.7853981633974483
45.0
4.242640687119285
(4.242640687119285, 0.7853981633974483)

Tipos lógicos (bool)

In [23]:
T = True
F = False

print(F)
print(type(F))

False
<class 'bool'>

In [24]:
print(T*F)
print(2*T)

0
2

In [25]:
print("Hola", 23)

Hola 23

In [26]:
a = 28.2

b = a

print(b)

# # print('mayor/menor a: ', a < b)
c = 99.8
a = c

print(a)
print(b)
# print('igual a: ', a == b)
# print('distinto a: ', a != b)

# print('es: ', a is b)
# print('no es: ', a is not b)

28.2
99.8
28.2

### 1.2 Strings

Un string es una secuencia de caracteres de cualquier tipo (letras, números, símbolos,...) que se definen usando comillas (simple o dobles.

In [27]:
a = "Este es un ejemplo de un string"

print(a)
print(type(a))
a

Este es un ejemplo de un string
<class 'str'>

'Este es un ejemplo de un string'

In [28]:
print(a)

Este es un ejemplo de un string

In [29]:
b = 'donde podemos usar comillas simples'
c = "o usar comillas dobles"

print(b, c)

donde podemos usar comillas simples o usar comillas dobles

Podemos concatenar strings usando +

In [30]:
d = a + b + c + "y que podemos concatenar usando el signo '+', por ejemplo" 

print(d)

Este es un ejemplo de un stringdonde podemos usar comillas simpleso usar comillas doblesy que podemos concatenar usando el signo '+', por ejemplo

In [31]:
f = 'También podemos usar "comillas dobles" dentro de comillas simple'
print(f)
g = "o 'al revés', como en este caso"
print(g)

También podemos usar "comillas dobles" dentro de comillas simple
o 'al revés', como en este caso

Podemos agregar caracteres de formato:

In [32]:
h = "Siempre quise aprender\ncomo poner caracteres de formato\nen un string de Python.\n"

print(h)

j = "Supongamos que queremos hacer una lista que contenga los elementos:\n\t * elemento 1\n\t * elemento 2\n\t * and so on..."

print(j)

Siempre quise aprender
como poner caracteres de formato
en un string de Python.

Supongamos que queremos hacer una lista que contenga los elementos:
	 * elemento 1
	 * elemento 2
	 * and so on...

In [35]:
print('%s' % h)
print('%r' % h)

Siempre quise aprender
como poner caracteres de formato
en un string de Python.

'Siempre quise aprender\ncomo poner caracteres de formato\nen un string de Python.\n'

Un ejemplo de docstring:

In [36]:
m = '''
Acá puedo poner cuantas lineas 
quiera, sin preocuparme si son dos 
lineas, cuantro lineas, 6 lineas...
¿habrá algún límite?
'''



print(m)

Acá puedo poner cuantas lineas
quiera, sin preocuparme si son dos
lineas, cuantro lineas, 6 lineas...
¿habrá algún límite?

#### 1.2.1 Indexado (en strings)

Un string es un ejemplo de 'contenedor' de elementos (en este caso, caracteres), a los cuales se puede acceder mediante el índice que indica su posición:

In [37]:
my_string = 'Hola mundo'

print(my_string[0])
print(my_string[4])
print(my_string[5])

H

m

In [40]:
print(my_string[9]) # mi índice no puede ser mayor a la cantidad de elementos

o

Se pueden utilizar índices negativos para acceder a los elementos, referidos al último. Es decir, el -1 es el último, el -2 es el penúltimo, y así por el estilo:

In [39]:
print(my_string[-1])
print(my_string[-2])
print(my_string[-10])

o
d
H

#### 1.2.2 Slicing

Puedo acceder a un subconjunto de elementos, utilizando una técnica conocida como "slicing", donde, dado un string **a**, obtengo el subconjunto como **a[inicio:fin:paso]**, (donde todos los argumentos son opcionales):

In [41]:
print(my_string[1:6])

sub_string = my_string[6:10]
print(sub_string)

print(my_string[0] + sub_string)

ola m
undo
Hundo

In [42]:
print(my_string[0:5])
print(my_string[:5])

print(my_string[5:10])
print(my_string[5:])

Hola
Hola
mundo
mundo

In [43]:
print(my_string[::2])
print(my_string[1::2])

Hl ud
oamno

In [44]:
print(my_string[::-2])

onmao

#### 1.2.3 Algunos métodos de strings

In [45]:
string_2 = "se viene el estallido, de mi guitarra, y tu gobierno, también"

print(string_2)

print(string_2.capitalize())

print(string_2.upper())

string_3 = string_2.upper()

print(string_3.lower())

se viene el estallido, de mi guitarra, y tu gobierno, también
Se viene el estallido, de mi guitarra, y tu gobierno, también
SE VIENE EL ESTALLIDO, DE MI GUITARRA, Y TU GOBIERNO, TAMBIÉN
se viene el estallido, de mi guitarra, y tu gobierno, también

In [46]:
k = string_2.find('est')

print(k)

print(string_2[k:])

N = string_2.count('i')

print(N)

N = string_2.count('ta')

print(N)

12
estallido, de mi guitarra, y tu gobierno, también
6
3

In [49]:
string_separado = string_2.split(',')

print(len(string_separado))

string_4 = string_2.replace(', ', '\n')

print(string_4)

string_separado_en_lineas = string_4.splitlines()

print(string_separado_en_lineas)

4
se viene el estallido
de mi guitarra
y tu gobierno
también
['se viene el estallido', 'de mi guitarra', 'y tu gobierno', 'también']

In [50]:
string_de_numeros = '123456789asfdsfds'

print(string_de_numeros.isnumeric())
print(string_de_numeros.isalpha())
print(string_de_numeros.isalnum())

False
False
True

### 1.3 Listas

In [51]:
my_list = [4, 8, 15, 16, 23, 42]

In [52]:
print(type(my_list))

print(my_list)

<class 'list'>
[4, 8, 15, 16, 23, 42]

Las listas tambien son secuencias, por lo que el indixado y slicing funcionan como ya hemos visto con los strings

In [53]:
my_list[0]

4

In [55]:
my_list[-2::-1]

[23, 16, 15, 8, 4]

Y pueden contener cualquier tipo de objetos:

In [56]:
nombre = 'Jack'

lista_heterogenea = [108, 'Dharma', my_list, nombre]

In [57]:
print(lista_heterogenea)
print(lista_heterogenea[2][0])

[108, 'Dharma', [4, 8, 15, 16, 23, 42], 'Jack']
4

In [58]:
lista_heterogenea.append('Shepard')

lista_heterogenea

[108, 'Dharma', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

In [59]:
lista_heterogenea[1] = 323
lista_heterogenea

[108, 323, [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

Incluso se pueden hacer asignaciones de secuencias sobres "slices"

In [60]:
lista_heterogenea[0:2] = ['A', 'B', 'C', 'D']     # notar que no hace falta que el valor tenga el mismo tamaño que el slice
lista_heterogenea

['A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']

Otras operaciones entre listas:

In [64]:
print (my_list)
print(4 in my_list)
print(4 not in my_list)

L = my_list + lista_heterogenea

print(L)

L = 3*my_list

print(L)

print(sum(my_list))

print(len(my_list))
print(min(my_list))
print(max(my_list))

print(lista_heterogenea.index('B'))

print(lista_heterogenea.count(42))

[4, 8, 15, 16, 23, 42]
True
False
[4, 8, 15, 16, 23, 42, 'A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']
[4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42]
108
6
4
42
1
0

In [65]:
print(lista_heterogenea)
print(lista_heterogenea.count([4, 8, 15, 16, 23, 42]))

['A', 'B', 'C', 'D', [4, 8, 15, 16, 23, 42], 'Jack', 'Shepard']
1

In [2]:
my_list = [4,8,15,16,23,42]
print(my_list)
otra_lista = my_list[::-1]
print(otra_lista)

print(my_list)

my_list.reverse()

print(my_list)

[4, 8, 15, 16, 23, 42]
[42, 23, 16, 15, 8, 4]
[4, 8, 15, 16, 23, 42]
[42, 23, 16, 15, 8, 4]

In [3]:
del my_list[1:3]

print(my_list)

[42, 15, 8, 4]

In [4]:
list1 = [0,1,2]

list2 = list1

list2[0] = 8

print(list1)
print(list2)

[8, 1, 2]
[8, 1, 2]

### 1.4 Tuplas

Las tuplas son iguales a las listas, con la diferencia es que las listas son mutables mintras las tuplas no.

In [8]:
una_tupla = ('Benjamin', 108, my_list, ('Linus', my_list[0]))
print(type(una_tupla))
print(una_tupla[3])
una_tupla

<class 'tuple'>
('Linus', 42)

('Benjamin', 108, [42, 15, 8, 4], ('Linus', 42))

In [9]:
una_tupla.append('B')

AttributeError: 'tuple' object has no attribute 'append'

In [146]:
una_tupla.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [10]:
una_tupla[-1] = 'osooo'

TypeError: 'tuple' object does not support item assignment

Veremos un tipo nuevo, llamado range. Se crea mediante cualquiera de los siguientes llamados:
* range(stop)
* range(start, stop, step)

In [77]:
r = range(10)

print(r)
print(type(r))

range(0, 10)
<class 'range'>

In [78]:
r = list(range(10))

print(r)
print(type(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [79]:
p = list(range(2,12,2))

print(p)

[2, 4, 6, 8, 10]

In [81]:
p = list(range(10,20,-2))

print(p)

[]

### 1.5 Diccionarios

La diccionarios son otro tipo de estructuras de alto nivel que ya vienen incorporados. A diferencia de las secuencias, los valores no están en una posición sino bajo una clave: son asociaciones clave:valor

In [82]:
stock = {'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 'Fuera de temporada'} 

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 'Fuera de temporada'}

Accedemos al valor a traves de un clave

In [83]:
stock['Frutillas'] = 20

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20}

In [84]:
stock['Sandía'] = 1

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20, 'Sandía': 1}

In [85]:
del stock['Sandía']

stock

{'Manzanas': 1, 'Peras': 10, 'Bananas': 5, 'Frutillas': 20}

In [87]:
list(stock.items())[1][1]

10

In [88]:
list(stock.items())

[('Manzanas', 1), ('Peras', 10), ('Bananas', 5), ('Frutillas', 20)]

In [89]:
list(stock.keys())

['Manzanas', 'Peras', 'Bananas', 'Frutillas']

In [90]:
stock.values()

dict_values([1, 10, 5, 20])

## 2. Control de flujo

In [91]:
Nota = 7
if Nota >= 8:
    print ("Aprobó cómodo, felicidades!")
elif 6 <= Nota < 8:
    print ("Bueno, al menos aprobó!")
elif 4 <= Nota < 6 :
    print ("Bastante bien, pero no le alcanzó")
else:
    print("Lo esperamos después de las vacaciones!")

Bueno, al menos aprobó!

En un if, la conversión a tipo boolean es implícita. El tipo None (vacío), el 0, una secuencia (lista, tupla, string) (o conjunto o diccionario, que ya veremos) vacía siempre evalua a False. Cualquier otro objeto evalua a True.

In [92]:
respuesta = 'lala'

if respuesta:
    print('respondió!')
else:
    print('no respondió!')

respondió!

### 2.2 Iteraciones

Loop for

In [94]:
for elemento in range(10):
    print(elemento)

0
1
2
3
4
5
6
7
8
9

In [95]:
sumatoria = 0

for elemento in [1, 2, 3.6]:
    sumatoria += elemento
    
sumatoria

6.6

In [96]:
for (posicion, valor) in enumerate([4, 3, 19]):
    
    print('El valor de la posicion', posicion, 'es', valor)

El valor de la posicion 0 es 4
El valor de la posicion 1 es 3
El valor de la posicion 2 es 19

In [97]:
temp_min = [-3.2, -2, 0, -1, 4, -5, -2, 0, 4, 0]
temp_max = [13.2, 12, 13, 7, 18, 5, 11, 14, 10 , 10]

for t1, t2 in zip(temp_min, temp_max):
  print('La temperatura mínima fue', t1, 'y la máxima fue', t2)

La temperatura mínima fue -3.2 y la máxima fue 13.2
La temperatura mínima fue -2 y la máxima fue 12
La temperatura mínima fue 0 y la máxima fue 13
La temperatura mínima fue -1 y la máxima fue 7
La temperatura mínima fue 4 y la máxima fue 18
La temperatura mínima fue -5 y la máxima fue 5
La temperatura mínima fue -2 y la máxima fue 11
La temperatura mínima fue 0 y la máxima fue 14
La temperatura mínima fue 4 y la máxima fue 10
La temperatura mínima fue 0 y la máxima fue 10

Se puede salir del loop usando 'break'

In [98]:
sumatoria = 0

for elemento in range(1000):
    
    if elemento > 100:
        break
        
    sumatoria = sumatoria + elemento
    
sumatoria, elemento

(5050, 101)

In [99]:
sumatoria = 0

for elemento in range(101):
    
    sumatoria += elemento
    
sumatoria, elemento

(5050, 100)

Se puede omitir un iteración usando 'continue'

In [103]:
sumatoria = 0

for elemento in range(20):
    
    if elemento % 2:
        continue
        
        
    print(elemento, end=', ')
    sumatoria = sumatoria + elemento
    
sumatoria

0, 2, 4, 6, 8, 10, 12, 14, 16, 18,

90

Un ejemplo práctico, consiste en crear una lista a través de un loop:

In [104]:
cuadrados = []

for i in range(-3,15,1):
    cuadrados.append(i**2)
    
print(cuadrados)

[9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

Loop while

In [105]:
a = 0
while a < 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [111]:
n = 1
while True:
    n = n + 1
    print(n, 'elefantes se balanceaban sobre la tela de una araña')
    continuar = input('Desea invitar a otro elefante?')
    if continuar.lower() == 'no':
        break

2 elefantes se balanceaban sobre la tela de una araña
Desea invitar a otro elefante?nO

## 3. Funciones

Para definir funciones, usamos la palabra reservada 'def'

In [ ]:
def saluda():
    
    print('Hola mundo!')
    
saluda()

In [112]:
def fib(n):
    """Devuelve una lista con los términos
    de la serie de Fibonacci hasta n."""
    
    result = []
    a, b= 0, 1
    
    while a < n:
        result.append(a)    
        a, b = b, a+b
        
    return result

fib(10)

[0, 1, 1, 2, 3, 5, 8]

In [113]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [114]:
help(fib)

Help on function fib in module __main__:

fib(n)
    Devuelve una lista con los términos
    de la serie de Fibonacci hasta n.

### 3.1 Scope de las variables

In [115]:
def func1(x):
    print('x entró a la función con el valor', x)
    x = 2
    print('El nuevo valor de x es', x)

y = 50
print('Originalmente x vale',y)
func1(y)
print('Ahora x vale',y)

Originalmente x vale 50
x entró a la función con el valor 50
El nuevo valor de x es 2
Ahora x vale 50

In [116]:
x = [50]
print('Originalmente x vale',x)

def func2(x):
    print('x entró a la función con el valor', x)
    x = [2]
    print('El nuevo valor de x es', x)

func2(x)
print('Ahora x vale',x)

Originalmente x vale [50]
x entró a la función con el valor [50]
El nuevo valor de x es [2]
Ahora x vale [50]

In [125]:
x = [50]
print('Originalmente x vale',x)
print(type(x))

def func3(x):
    print('x entró a la función con el valor', x)
    x[0] = 2
    print(type(x[0]))
    print('El nuevo valor de x es', x)

func3(x)
print('Ahora x vale',x)  
x.append(12)
x

Originalmente x vale [50]
<class 'list'>
x entró a la función con el valor [50]
<class 'int'>
El nuevo valor de x es [2]
Ahora x vale [2]

[2, 12]

In [126]:
x = [50]
print('Originalmente x vale',x)

def func3(x):
    print('x entró a la función con el valor', x)
    x = 'lala'
    print('El nuevo valor de x es', x)

func3(x)
print('Ahora x vale',x)

Originalmente x vale [50]
x entró a la función con el valor [50]
El nuevo valor de x es lala
Ahora x vale [50]

In [127]:
x = [1,2,3,4,5]
print('Originalmente x vale',x)

def func3(x):
    print('x entró a la función con el valor', x)
    x[2] = 108
    print('El nuevo valor de x es', x)

func3(x)
print('Ahora x vale',x)

Originalmente x vale [1, 2, 3, 4, 5]
x entró a la función con el valor [1, 2, 3, 4, 5]
El nuevo valor de x es [1, 2, 108, 4, 5]
Ahora x vale [1, 2, 108, 4, 5]

Argumentos opcionales

In [128]:
def caida_libre(t, h0, v0 = 0., g=9.8):
    """
    Devuelve la velocidad y la posición de una partícula en
    caída libre para condiciones iniciales dadas
    
    """
    v = v0 - g*t
    h = h0 - v0*t - g*t**2/2.
  
    return v, h

v1, h1 = caida_libre(10, 1000)

print(v1)
print(h1)

v1, h1 = caida_libre(10, 1000, g = 12)

print(v1)
print(h1)

-98.0
509.99999999999994
-120.0
400.0

## 4. Algo de I/O

### 4.1 Ingresar e imprimir valores "por pantalla"

In [129]:
algo_ingresado = input('Ingrese algo: ')

print(algo_ingresado)

Ingrese algo: jo
jo

### 4.2 Cargar y escribir archivos de texto

In [131]:
writeme = open('ejemplo.txt','w') 

texto = 'Esta es la primer línea,\nesta es la segunda\ny esta es la tercera.'

writeme.write(texto)

writeme.close()

In [132]:
readme = open('ejemplo.txt') 

texto_leido = readme.read()

print(texto_leido)

readme.close()

Esta es la primer línea,
esta es la segunda
y esta es la tercera.

In [141]:
readme = open('ejemplo.txt') 

texto_leido = readme.read(5)

print(texto_leido)

mas_texto_leido = readme.read()

print(mas_texto_leido)

readme.close()

Esta
es la primer línea,
esta es la segunda
y esta es la tercera.

In [142]:
readme = open('ejemplo.txt')

for linea in readme:
    print(linea)
    
readme.close()

Esta es la primer línea,

esta es la segunda

y esta es la tercera.

In [143]:
readme = open('ejemplo.txt')
lineas = readme.readlines()

print(type(lineas))
print(len(lineas))
print(lineas[0])

<class 'list'>
3
Esta es la primer línea,